*{
    box-sizing:border-box;
}

.headerContainer {
    background-color: #f0f0f0;
    color: black;
    border-bottom: 1.5px solid darkgrey;
}

.customFonts {
    font-family: 'Roboto', sans-serif;
}

.newButton {
    color: white;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    padding: 0.08em 0.4em;
    margin-left: 0.3em;
    border-radius: 0.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

.inlineBlock{
    display:inline-block;
}

h4 {
    margin-top: 0 !important;
    height: 0.01em;
}

p {
    margin: 0 auto !important;
    font-size:12px;
}

@media screen and (min-width:485px )and (max-width:770px ) {
    * {
        font-size: 30px;
    }

    .newButton {
        font-size: 20px;
    }
}

@media screen and (min-width:768px ) and (max-width:1023px ) {
    p {
        font-size: 0.7em;
    }

    h4 {
        font-size: 0.9em;
    }

    .newButton {
        font-size: 0.6em;
    }

}

@media screen and (min-width:1024px ) and (max-width:1500px ) {
    p {
        font-size: 1.7em;
    }

    h4 {
        font-size: 2em;
    }

    .newButton {
        font-size: 1.5em;
    }
}