.navContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    height: 2.5em;
    background-color: seagreen;
    color: black;
    position: sticky;
    top: 0;
    z-index:10;
}

.navItem:hover {
    color: white;
}

.navItem {
    align-self: center;
    cursor:pointer;
    color:black;
    text-decoration: none;
}

.shopLogo{
    width: 60px;
}

.MR{
    margin-right:3%;
}